SKOLA24_SCHOOL_YEAR_GUID=
SKOLA24_HOST=
SKOLA24_SCHOOL=
SKOLA24_CLASS_GUID=
SKOLA24_CLASSES=
SKOLA24_CLASS_GUID_CLASS_A=
DEFAULT_WEEKS_BACK=0
DEFAULT_WEEKS_AHEAD=3
CACHE_TTL=86400
PORT=8080
ICS_URLS='http://127.0.0.1:5001/api/skola24/ics/CLASS_A?weeks_back=0&weeks_ahead=8'
